.toolbarIconDeleteItem,
.toolbarIconDeleteFolder,
.toolbarIconEntity,
.toolbarIconDeleteEntity,
.toolbarIconAdd ,
.toolbarIconAction,
.toolbarIconRun,
.toolbarIconError,
.toolbarIconInfo,
.toolbarIconUpdate
 {
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-align: center;
}

.toolbarIconDeleteItem{
  background-image: url("../icons/delete_item_16x16.png");
}
	
.toolbarIconDeleteFolder{
  background-image: url("../icons/delete_folder_16x16.png");
}

.toolbarIconEntity{
  background-image: url("../icons/entity_16x16.png");
}

.toolbarIconDeleteEntity {
  background-image: url("../icons/delete_entity_16x16.png");
}

.toolbarIconAdd {
  background-image: url("../icons/add_16x16.png");
}

.toolbarIconAction{
  background-image: url("../icons/action_16x16.png");
}

.toolbarIconRun {
  background-image: url("../icons/run_16x16.png");
}

.toolbarIconError {
  background-image: url("../icons/error_16x16.png");
}

.toolbarIconInfo {
  background-image: url("../icons/info_16x16.png");
}

.toolbarIconUpdate {
  background-image: url("../icons/update_16x16.png");
}

.fixedTextArea{
  height: 95%; 
  width:100%; 
  resize: none; 
  overflow: scroll; 
}

.nestedAccordionContainer{
  width: 100%; 
  height: 100%; 
  margin: 0;
  padding: 0;
}

.nestedBorderContainer{
  width: 100%; 
  height: 100%; 
  margin: 0;
  padding: 0;
  border: none;
}

.nestedPane{
  border: none; 
  margin: 0; 
  padding: 0;
}

.dojoxGrid table {
  margin: 0;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  font-size: 13px;	
}

.consoleMessage {
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  font-size: 12px;
}
