html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

html,
body,
label,
select,
table.dijitDialogPaneContentArea,
.dijitTextBox,
.dijitValidationTextBox
{
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 12px;
}

.toolbarIconDeleteItem,
.toolbarIconDeleteFolder,
.toolbarIconEntity,
.toolbarIconDeleteEntity,
.toolbarIconAdd ,
.toolbarIconAction,
.toolbarIconRun,
.toolbarIconError,
.toolbarIconInfo,
.toolbarIconUpdate,
.toolbarIconDownload,
.toolbarIconRuntimeMonitor,
.toolbarIconFilter,
.toolbarIconProperties,
.toolbarIconApply,
.toolbarIconFlowStart,
.toolbarIconFlowEnd,
.toolbarIconFlowAction,
.toolbarIconFlowCondition,
.toolbarIconFlowSubprocess
{
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-align: center;
}

.toolbarIconDeleteItem{
  background-image: url("../icons/delete_item_16x16.png");
}
	
.toolbarIconDeleteFolder{
  background-image: url("../icons/delete_folder_16x16.png");
}

.toolbarIconEntity{
  background-image: url("../icons/entity_16x16.png");
}

.toolbarIconDeleteEntity {
  background-image: url("../icons/delete_entity_16x16.png");
}

.toolbarIconAdd {
  background-image: url("../icons/add_16x16.png");
}

.toolbarIconAction{
  background-image: url("../icons/action_16x16.png");
}

.toolbarIconRun {
  background-image: url("../icons/run_16x16.png");
}

.toolbarIconError {
  background-image: url("../icons/error_16x16.png");
}

.toolbarIconInfo {
  background-image: url("../icons/info_16x16.png");
}

.toolbarIconUpdate {
  background-image: url("../icons/update_16x16.png");
}

.toolbarIconDownload {
  background-image: url("../icons/download_16x16.png");
}

.toolbarIconRuntimeMonitor {
  background-image: url("../icons/runtime_monitor_16x16.png");
}

.toolbarIconFilter {
  background-image: url("../icons/filter_16x16.png");
}

.toolbarIconProperties {
  background-image: url("../icons/properties_16x16.png");
}

.toolbarIconApply {
  background-image: url("../icons/apply_16x16.png");
}

.toolbarIconFlowStart {
  background-image: url("../icons/flow_start_16x16.png");
}

.toolbarIconFlowEnd {
  background-image: url("../icons/flow_end_16x16.png");
}

.toolbarIconFlowAction {
  background-image: url("../icons/flow_action_16x16.png");
}

.toolbarIconFlowCondition {
  background-image: url("../icons/flow_condition_16x16.png");
}

.toolbarIconFlowSubprocess {
  background-image: url("../icons/flow_subproc_16x16.png");
}

.fixedTextArea{
  height: 95%; 
  width:100%; 
  resize: none; 
  overflow: scroll; 
}

.hiddenBorderedFixedPane{
  display: none;
  height: 95%; 
  width:100%; 
  resize: none; 
  overflow: auto; 
  border-style: groove;
  border-width: thin;
}

.nestedAccordionContainer{
  width: 100%; 
  height: 100%; 
  margin: 0;
  padding: 0;
}

.nestedBorderContainer{
  width: 100%; 
  height: 100%; 
  margin: 0;
  padding: 0;
  border: none;
}

.nestedPane{
  border: none; 
  margin: 0; 
  padding: 0;
}

.dojoxGrid table {
  margin: 0;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  font-size: 13px;	
}

.dojoxGridCell {
  overflow: hidden;
  white-space: nowrap;
}

.consoleMessage {
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  font-size: 12px;
}

.flowEditorArea .tabLabel {
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 10px;
  font-weight: bold;
}

div[ace-script-editor="true"] { 
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	border-style: groove;
	border-width: thin;
	font-family: Consolas,monaco,monospace;
	font-size: 13px;
	font-weight: 500;
}
